body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $body-font;
  color: $primary-color-text;

  #root {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $header-font;
      margin: 2.75rem 0 1rem;
      font-weight: 600;
      line-height: 1.15;
    }

    h1 {
      font-size: 2.488em;
    }

    h2 {
      font-size: 2.074em;
    }

    h3 {
      font-size: 1.728em;
    }

    h4 {
      font-size: 1.44em;
    }

    h5 {
      font-size: 1.2em;
    }

    a,
    button {
      color: $accent-color;
      text-decoration: none;

      &.underlineHover {
        @include underlineHover;
      }
    }
  }
}